{
  "root": true,
  "env": {
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "extends": "airbnb-typescript/base",
  "plugins": [
    "import",
    "@typescript-eslint"
  ],
  "rules": {
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "no-return-assign": "off",
    "camelcase": "off",
    "import/extensions": "off",
    "quotes": "off",
    "@typescript-eslint/quotes": "off",
    "@typescript-eslint/naming-convention": "off",
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": "off",
    "no-return-await": "off",
    "@typescript-eslint/return-await": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "warn",
    "@typescript-eslint/no-redeclare": "off"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "typescript": {}
    }
  }
}